@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Lora');

body {
    display: flex;
    background-color: #394053;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Girassol";
}

main{

}

header, footer {
    border-radius: 10px;
    padding: 1em;
    width: 65em;
    color: #fff;
    box-shadow: 0 0 30px 5px #bbb;
    background: linear-gradient(to bottom right , #000000 34%, cadetblue 100%);
    background-color: cadetblue;
    text-align: center;
}

footer{
    font-family: "Lora";
}

ul li a:link {
    color: black;
}

a:link {
    color: white;
}

.content{
    margin: auto;
    margin-top: 10em;

}

.main-content {
    margin-top: 0;
    margin-bottom: 0;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: ghostwhite;
    height: 14em;
}

.img{
    width: 12em;
    border-radius: 10px;
    position: relative;
    left: 52em;
    top: -5em;
    box-shadow: 0 0 10px 5px #394053;
}

.list{
    list-style-type: none;
    margin-left: 6em;
    font-size: 1.2em;
    margin-top: 2em;
    font-family: "Lora";
}

.title-h2{
    text-align: left;
    margin-left: 4.5em;
    margin-top: -6em;
    font-size: 1.5em;
    border-bottom: 1px solid #394053;
    width: 70%;
    font-family: "Lora";
}