@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Lora');

body {
    font-size: 18px;
    max-width: 700px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 1em!important;
}

header,
footer {
    box-shadow: 0 0 30px 5px gray;
    background: linear-gradient(to bottom right , #000000 34%, cadetblue 100%);
    text-align: center;
    padding: .35rem;
    border-radius: 10px;
    color: #fff;
}

header {
    font-family: 'Girassol';
    font-size: 25px;
}

img {
    width: 125px;
    float: right;
    margin-top: -5rem;
    box-shadow: 0 8px 10px 0 gray;
    margin-right: 1rem;
}

h2 {
    border-bottom: 1.5px solid lightgray;
    font-family: "Lora";
}

p {
    font-family: "Lora";
}

footer {
    font-size: 1rem;
    padding-top: 1rem;
}

footer p {
    font-size: 1rem;
    color:white;
}

footer a {
    color: white;
}

footer a:visited {
    color: white;
}