h1{
    font-size: 2.4em;
    border-bottom: 2px solid #fff;
}

h2{
    font-size: 2em;
    border-bottom: 1px solid #fff;
}

h2{
    font-size: 1.6em;
}

p{
    font-size: 1.2em;
}

span{
    font-size: 1.2em;
}


.main-content{
    position: relative;
    width: 80%;
    overflow: hidden;
    color: #bfc1c8;
    margin-top: 3em;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}


/* Plan Website Assignment */

.logo-div{
    width: 10em;
    height: 10em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #323544;
}
th {
    background: #262936;
    color: #fff;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 2px solid #bfc1c8;
    text-align: left;
}

td{
    color: #1e202b;
    background-color: #fff;
    border: 2px solid #bfc1c8;
}

.main-div {
    margin: 0.5rem;
    border: 1px solid #323544;
    padding: 0 1rem;
    background-color: #262936;
}