$primaryColor: #1A5A0D;
$secondaryColor: #258013;
$thirdColor: #258013;
$forthColor: #30A619;
$fifthColor: #47F324;
$black: #000;
$white: #fff;

$font1: "Do Hyeon";
$font2: "Ubuntu";
$regular: 400;
$light: 300;
$gutter: 10%;