@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Ubuntu:wght@400;500&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on imgs inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Ubuntu";
  font-weight: 300; }
  body h1, body h2, body h3, body h4 {
    font-family: "Do Hyeon";
    font-weight: 400; }

header {
  background-color: #1A5A0D;
  display: flex; }
  header .logo-box {
    display: block;
    align-items: center;
    width: 100%;
    text-align: center; }
    header .logo-box img {
      margin-bottom: -5em; }

nav {
  font-family: "Ubuntu";
  font-weight: 400;
  background-color: #258013;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75); }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    list-style-type: none; }
  nav li.active {
    background-color: #1A5A0D;
    border: 4px solid #258013; }
  nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none; }
  nav a:hover {
    background-color: #fff;
    color: #1A5A0D;
    font-weight: bold;
    border: 4px solid #1A5A0D; }

main .home {
  display: block; }
  main .home h2 {
    color: #1A5A0D; }
  main .home figure img {
    width: 100%; }
  main .home figure {
    margin: 0;
    width: 100%; }
  main .home figcaption {
    text-align: center;
    font-size: .8rem; }
  main .home .section-1 {
    background-color: #30A619;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    height: 25em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em; }
    main .home .section-1 h2, main .home .section-1 h3 {
      color: #fff; }
    main .home .section-1 h3 {
      font-family: "Ubuntu";
      font-weight: 400; }
  main .home .section-2 {
    width: 100%;
    text-align: center;
    padding: 1em;
    margin-bottom: 2em; }
    main .home .section-2 h2 {
      font-size: 2em;
      text-decoration: underline; }
    main .home .section-2 img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 0px 26px 3px rgba(255, 255, 255, 0.75);
      margin-bottom: 1em; }
    main .home .section-2 .blocks {
      display: contents;
      color: #fff; }
      main .home .section-2 .blocks .service-block {
        width: 100%;
        border: 2px solid green;
        border-radius: 10px;
        margin-bottom: 1em;
        padding: 1em;
        background-color: #258013; }
        main .home .section-2 .blocks .service-block h2 {
          color: #fff; }
        main .home .section-2 .blocks .service-block span {
          border: 3px solid #fff;
          margin: 1em;
          border-radius: 10px;
          padding: 0.2em; }
          main .home .section-2 .blocks .service-block span a {
            text-decoration: none;
            color: #fff; }
  main .home .section-3 {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: #258013; }
    main .home .section-3 h2 {
      font-size: 2em;
      text-decoration: underline;
      color: #fff; }
    main .home .section-3 .blocks {
      display: contents;
      color: #1A5A0D;
      margin-bottom: 2em; }
      main .home .section-3 .blocks .service-block {
        width: 100%;
        border: 2px solid green;
        border-radius: 10px;
        margin-bottom: 1em;
        padding: 1em;
        background-color: #fff; }
        main .home .section-3 .blocks .service-block h2 {
          color: #1A5A0D;
          font-size: 2em; }
        main .home .section-3 .blocks .service-block ul {
          font-size: 1em; }
        main .home .section-3 .blocks .service-block li {
          margin-bottom: 0.2em; }
    main .home .section-3 span {
      border: 3px solid #fff;
      margin: 1em;
      border-radius: 10px;
      padding: 0.2em;
      font-size: 2em;
      margin-bottom: 2em; }
      main .home .section-3 span a {
        text-decoration: none;
        color: #fff; }
  main .home .section-4 {
    width: 100%;
    text-align: center;
    padding: 1em; }
    main .home .section-4 h2 {
      font-size: 2em;
      text-decoration: underline; }
    main .home .section-4 #weathersummary {
      position: relative;
      border-radius: 15px;
      background: #258013;
      border: 2px solid #47F324;
      opacity: 0.75;
      color: #fff;
      width: 94%;
      font-size: 1em;
      text-align: center;
      line-height: 10px;
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: auto;
      margin-right: auto; }
  main .home .section-5 {
    width: 100%;
    text-align: center;
    padding: 1em; }
    main .home .section-5 h2 {
      font-size: 2em;
      text-decoration: underline; }
    main .home .section-5 table {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      font-size: 1em;
      color: #258013;
      margin-bottom: 2em; }
main .reservations h2 {
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
  color: #1A5A0D; }
main .reservations .left-column {
  background-color: #258013;
  padding: 1.5em;
  border-radius: 5px;
  margin: 1em auto;
  width: 80%;
  max-width: 500px; }
  main .reservations .left-column fieldset {
    margin: 1.5em auto;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: .5em 1em; }
    main .reservations .left-column fieldset legend {
      color: #fff;
      font-family: "Do Hyeon";
      margin: 0 1em;
      padding: 0 .5em; }
    main .reservations .left-column fieldset label {
      font-family: "Ubuntu";
      display: block;
      padding-top: 1em;
      color: #fff; }
      main .reservations .left-column fieldset label input {
        display: block;
        font-size: 1em;
        border: 1px solid #47F324;
        border-radius: 5px;
        padding: 0.75em;
        width: 80%;
        max-width: 20em;
        color: #1A5A0D; }
      main .reservations .left-column fieldset label select {
        display: block;
        font-size: 1em;
        border: 1px solid #47F324;
        border-radius: 5px;
        padding: 0.75em;
        width: 80%;
        max-width: 20em;
        color: #1A5A0D; }
  main .reservations .left-column input[type=submit] {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 12%; }
main .reservations .right-column {
  margin-top: 2em; }
  main .reservations .right-column .block {
    background-color: #258013;
    text-align: center;
    font-size: 1em;
    color: white;
    line-height: 1.9em;
    max-width: 90%;
    margin-left: 1em;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2em; }
    main .reservations .right-column .block h3 {
      font-size: 1.5em;
      text-decoration: underline;
      color: #fff; }
    main .reservations .right-column .block li {
      margin-bottom: 1em; }
main .thanks-page {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 7%;
  position: relative;
  font-size: 1.3em;
  color: #1A5A0D; }

footer {
  background-color: #1A5A0D;
  text-align: center;
  padding: 1rem 10%; }
  footer img {
    display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) {
  header .logo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 6em;
    padding-right: 6em; }
    header .logo-box img {
      height: 7em;
      margin-bottom: 0; }

  nav li {
    width: 20%;
    float: left; }
  nav li.active {
    border: none; }
  nav a:hover {
    border: none; }

  main .home {
    margin-top: -1.3em; }
    main .home .section-1 {
      height: 25em;
      padding: 5em; }
    main .home .section-2 {
      width: 100%;
      justify-content: center;
      text-align: center;
      padding: 1em; }
      main .home .section-2 h2 {
        font-size: 2em;
        margin-bottom: 1em;
        text-decoration: underline; }
      main .home .section-2 .blocks {
        display: flex;
        justify-content: space-between; }
        main .home .section-2 .blocks .service-block {
          width: 30%;
          border: 2px solid green;
          border-radius: 10px;
          margin-bottom: 1em;
          padding: 1em; }
          main .home .section-2 .blocks .service-block span {
            border: 3px solid #fff;
            margin: 1em;
            border-radius: 10px;
            padding: 0.2em; }
            main .home .section-2 .blocks .service-block span a {
              text-decoration: none;
              color: #fff; }
    main .home .section-3 {
      width: 100%;
      justify-content: center;
      text-align: center;
      padding: 1em; }
      main .home .section-3 h2 {
        font-size: 2em;
        margin-bottom: 1em;
        text-decoration: underline; }
      main .home .section-3 .blocks {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em; }
        main .home .section-3 .blocks .service-block {
          width: 30%;
          border: 2px solid green;
          border-radius: 10px;
          margin-bottom: 1em;
          padding: 1em; }
          main .home .section-3 .blocks .service-block ul {
            font-size: 1.1em; }
          main .home .section-3 .blocks .service-block li {
            margin-bottom: 0.4em; }
      main .home .section-3 span {
        margin-bottom: 3em; }
    main .home .section-4 #weathersummary {
      max-width: 60%;
      font-size: 1.2em; }
    main .home .section-5 {
      width: 100%;
      text-align: center;
      padding: 1em; }
      main .home .section-5 h2 {
        font-size: 2em;
        text-decoration: underline; }
      main .home .section-5 table {
        font-size: 1.4em; }
    main .home figure {
      float: right;
      width: 48%;
      margin-left: 2%;
      padding-bottom: .5rem; }

  footer {
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%; }
    footer img {
      display: inherit;
      border-style: none;
      width: 50%;
      position: relative; } }
@media only screen and (min-width: 1028px) {
  header, nav, main, footer {
    max-width: 100%;
    margin: auto; }

  nav ul {
    padding-left: 10%; }
  nav li {
    width: auto; }
  nav a {
    padding: .5rem 1rem; }

  main .home .section-1 {
    font-size: 2em; }
  main .home .section-2 {
    padding: 2em; }
    main .home .section-2 h2 {
      font-size: 3.5em; }
    main .home .section-2 .blocks {
      display: flex;
      justify-content: space-between; }
      main .home .section-2 .blocks .service-block {
        border: 2px solid green;
        border-radius: 10px;
        margin-bottom: 1em;
        padding: 1em; }
  main .home .section-3 {
    padding: 2em; }
    main .home .section-3 h2 {
      font-size: 3.5em; }
    main .home .section-3 .blocks {
      display: flex;
      justify-content: space-between; }
      main .home .section-3 .blocks .service-block {
        border: 2px solid green;
        border-radius: 10px;
        margin-bottom: 1em;
        padding: 1em; }
  main .home figure {
    width: 31%; }
  main .reservations .box-info-form {
    margin: 1em; }
  main .reservations .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }
  main .reservations .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1; }
  main .reservations .left-column {
    background-color: #258013;
    padding: 1.5em;
    border-radius: 5px;
    margin: 1em auto;
    width: 80%;
    max-width: 500px; }
    main .reservations .left-column fieldset {
      margin: 1.5em auto;
      border: 2px solid #fff;
      border-radius: 5px;
      padding: .5em 1em; }
      main .reservations .left-column fieldset legend {
        color: #fff;
        font-family: "Do Hyeon";
        margin: 0 1em;
        padding: 0 .5em; }
      main .reservations .left-column fieldset label {
        font-family: "Ubuntu";
        display: block;
        padding-top: 1em;
        color: #fff; }
        main .reservations .left-column fieldset label input {
          display: block;
          font-size: 1em;
          border: 1px solid #47F324;
          border-radius: 5px;
          padding: 0.75em;
          width: 80%;
          max-width: 20em;
          color: #1A5A0D; }
        main .reservations .left-column fieldset label select {
          display: block;
          font-size: 1em;
          border: 1px solid #47F324;
          border-radius: 5px;
          padding: 0.75em;
          width: 80%;
          max-width: 20em;
          color: #1A5A0D; }
    main .reservations .left-column input[type=submit] {
      background-color: transparent;
      border: 3px solid white;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 10px;
      margin-left: 23%; }
  main .reservations .right-column {
    margin-top: 1em; }
    main .reservations .right-column .block {
      background-color: #258013;
      text-align: center;
      font-size: 1.3em;
      color: white;
      line-height: 1.9em;
      max-width: 90%;
      margin-left: 2em;
      border-radius: 10px;
      padding: 1em; } }

/*# sourceMappingURL=styles.css.map */
