body {
    margin: 0 auto;
}

main {
    font-family:  Ubuntu, sans-serif;
}

table {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
    box-shadow: 7px 7px 10px #bfc1c8;
}

table, th, tr, td {
    border: 2px solid #cfcfcf;
    border-collapse: collapse;
    text-align: center;
}

thead tr th {
    padding: 12px;
}

thead tr:first-child {
    background-color: #7fb9c2;
    font-size: 1.6em;
}

thead tr:last-child {
    color: white;
    background-color: #628ca6;
    font-size: 1em;
}

tbody tr td {
    padding: 12px;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tbody tr:nth-child(5) td:first-child {
    font-style: italic;
}

td.blue-td {
    color: white;
    background-color: #628ca6;
}

tfoot tr {
    background-color: #7fb9c2;
}

tfoot tr td {
    font-size: .9em;
    padding: 10px;
}
