@media (min-width: 42em) {
    .today-details{
        position: absolute;
        top: 2em;
        left: 2em;
        background: #323544;
        border: 2px solid #009ad8;
        opacity: 0.75;
        color: white;
        width: 15em;
        padding: 1em;
        border-radius: 15px;
    }

    .today-details p {
        font-size: 3em;
    }

    .today-details img {
        position: relative;
        width: 5em;
    }

    .forecast {
        display: contents;
    }

    article{
        margin-top: 3em;
        padding: 0.5em;
    }
    article img{
        width: 40%;
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
    }

    article h3{
        font-size: 1.6em;
    }

    article p {
        font-size: .9em;
    }

    .end-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #today-pics picture {
        width: 100%;
    }

    #today-pics picture {
        width: 100%;
    }

    .gallery-grid {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-grid figure:hover {
        border: 3px solid #009ad8;
        box-shadow: 0 0 2em #323544;
    }

    /* INDEX GRID */
    div.cards section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    div.townData p:nth-of-type(1){
        font-size: 0.85rem;
    }
    section:nth-child(even) img{
        grid-column: 1;
    }
    section:nth-child(even) .townData{
        grid-column: 2;
        grid-row: 1;
    }
}