@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background-color: #1e202b;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
a {
    color: #fff;
}

a {
    text-decoration: none;
}

footer {
}

.main-nav .active {
    color: #009ad8;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav {
    margin-top: 5px;
}

#nav-id{
    display: none;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #fff;
    font-size: .99em;
}

.main-nav a:hover {
    color: #009ad8;
}


.header {
    padding-top: .5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: .5em;
    background-color: #1e202b;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.footer{
    font-size: 0.8em;
    color: #bfc1c8;
    padding-top: .5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: .5em;
    background-color: #1e202b;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    margin-top: 3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.button-menu-toggle{
    display: flex;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*.colorScheme{*/
/*    .background{*/
/*        color: #1e202b;*/
/*    }*/
/*    .contrast-1{*/
/*        color:#262936;*/
/*    }*/
/*    .contrast-2{*/
/*        color:#323544;*/
/*    }*/
/*    .titles{*/
/*        color:#fff;*/
/*    }*/
/*    .text{*/
/*        color:#bfc1c8;*/
/*    }*/
/*    .blue{*/
/*        color:#009ad8;*/
/*    }*/
/*}*/


/* Media Queries */
@media (min-width: 45em) {
    .header,
    #nav-id{
        display: flex!important;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header{
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
    }

    .button-menu-toggle{
        display: none;
    }
}

@media (min-width: 65em) {
    .header {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-id{
        display: flex!important;
    }

    .button-menu-toggle{
        display: none;
    }

}


