@media (min-width: 45em) {
    .today-details{
        position: absolute;
        top: 2em;
        left: 2em;
        background: #323544;
        border: 2px solid #009ad8;
        opacity: 0.75;
        color: white;
        width: 15em;
        padding: 1em;
        border-radius: 15px;
    }

    .today-details p {
        font-size: 3em;
    }

    .today-details img {
        position: relative;
        width: 5em;
    }

    article{
        margin-top: 3em;
        padding: 0.5em;
    }
    article img{
        width: 40%;
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
    }

    article h3{
        font-size: 1.6em;
    }

    article p{
        font-size: 1.2em;
    }

    .end-box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-info {
        margin-top: 6em;
        margin-right: 4em;
    }

    .map {
        display: grid;
        margin-left: 4em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
}