html {
    background-color: #1e202b;
    font-family: sans-serif;
    color: #bfc1c8;
}

h1, h3 {
    text-align: center;
}

picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin: 1rem;
    border-radius: 6px;
    filter: blur(0em);
    transition: filter 2s;
}

img[data-src] {
    filter: blur(.2em);
}

img:hover {
    border: 3px solid #009ad8;
    box-shadow: 0 0 2em #323544;
}

/*.colorScheme{*/
/*    .background{*/
/*        color: #1e202b;*/
/*    }*/
/*    .contrast-1{*/
/*        color:#262936;*/
/*    }*/
/*    .contrast-2{*/
/*        color:#323544;*/
/*    }*/
/*    .titles{*/
/*        color:#fff;*/
/*    }*/
/*    .text{*/
/*        color:#bfc1c8;*/
/*    }*/
/*    .blue{*/
/*        color:#009ad8;*/
/*    }*/
/*}*/